<p id="notice"><%= notice %></p>

<h1>Professores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro</th>
      <th>Nota prova</th>
      <th>Pontuacao</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professores.each do |professor| %>
      <tr>
        <td><%= professor.nome %></td>
        <td><%= professor.registro %></td>
        <td><%= professor.nota_prova %></td>
        <td><%= professor.pontuacao %></td>
        <td><%= professor.categoria %></td>
        <td><%= link_to 'Mostrar', professor %></td>
        <td><%= link_to 'Editar', edit_professores_temporario_path(professor) %></td>
        <td><%= link_to 'Excluir', professor, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Professor', new_professores_temporario_path %>

