<h4><%= "Professor: " + @professor.nome + " | Reg. nº " + @professor.registro.to_s + " | Cat: " + @professor.categoria.descricao %> </h4>

<table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Escola</th>
            <th>Período</th> 
            <th>Professor</th>          
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @salas.each do |s| %>
            <tr>
              <td><%= s.descricao %></td>
              <td><%= s.escola.nome %></td>
              <td><%= s.periodo.descricao %></td>
              <td><%= (s.professor == nil)? "<DISPONÍVEL>" : s.professor.nome %></td>
              <td><%= s.professor == nil ? (link_to 'Atribuir', atribuicao_secretarium_path(:professor => @professor, :sala => s)) : (link_to 'Cancelar', atribuicao_secretarium_path(:professor => @professor, :sala => s)) %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>